* {
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-image: linear-gradient(75deg, yellow,pink);
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.to-do-list-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  min-height: 250px;
  min-width: 500px;
  margin-top: 100px;
  border-radius: 10px;
  background-color: rgb(129, 147, 194);
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.heading img {
  height: 36px;
  width: 36px;
}
.interactive-part {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.interactive-part input {
  width: 300px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 200px;
  padding-left: 20px;
  padding-right: 100px;
  font-weight: bold;
}
.interactive-part button {
  position: absolute;
  right: 0px;
  outline: none;
  border: none;
  height: 42px;
  width: 80px;
  border-radius: 200px;
  background-color: rgb(174, 252, 235);
  color: rgb(117, 47, 102);
  font-weight: bold;
  transition: background-color 0.15s color 0.15s;

}
.interactive-part button:hover {
  background-color: rgb(196, 255, 242);
  color: rgb(162, 62, 140);
}
.interactive-part button:active {
  background-color:  rgb(135, 194, 181);
  color: white;
}

.result-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: white;
  width: 400px;
  flex: 1;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px 10px;
  padding-right: 0px;
  font-size: 14px;

}
 ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin: 0px;
  list-style: none;
}
ul li {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
  white-space: normal;
  padding-right: 30px;
}
ul li::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url(image/unchecked.png);
  background-size: cover;
  background-position: center;
  left: -30px;
}
.checked {
  text-decoration: line-through;
}
.checked::before {
  background-image: url(image/checked.png);
}
ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  transition: background-color .15s, color .15s;
}
ul li span:hover {
  background-color: rgb(215, 244, 254);
  color: rgb(255, 89, 89);
  border-radius: 20px;
}

